
body {
    background-color: aquamarine;
    text-align: center;

}
h1
{
    font-size: 100;
    font-family: 'Sacramento', cursive;

}
h2
{
    font-family: 'Satisfy', cursive;
}
samp{
    font-size: 30;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.top
{
    
    background-color: steelblue ;
    position: relative;
    padding-top: 10px;
}
.middle
{
    background-color: rgb(109, 156, 194);
    
}
.bottom
{
    background-color: honeydew;

}
.cloud1
{
    position: absolute;
    right: 300px;
    top: 50px;
}
.cloud2
{
    position: absolute;
    left: 300px;
    top: 200px;
}
.me{

    height: 200px;
    width: 200px;
    position: relative;
    top: 10px;
    border-radius: 100%;
}
